<dialog class="barcode" aria-expanded="true">
    <h2 class="title title--h1">Scan een barcode</h2>
    <section class="barcode__observer">
        <video class="barcode__video"></video>
        <canvas class="barcode__display barcode__display--overlay"></canvas>
    </section>
    <p class="support">
        Gescande barcode: <span class="support__boolean">geen</span>
    </p>

    <a id="redirect" class="cta barcode__control barcode__control--redirect" href="#">
        Open product
        <svg class="icon icon--camera" viewBox="0 0 101 81" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M31.4914 1.46623C32.4296 0.527696 33.7022 0.000283424 35.0293 0H65.0545C66.3815 0.000283424 67.6542 0.527696 68.5924 1.46623L77.1346 10.0084H90.0754C92.7298 10.0084 95.2755 11.0628 97.1524 12.9398C99.0293 14.8167 100.084 17.3624 100.084 20.0168V70.0587C100.084 72.713 99.0293 75.2587 97.1524 77.1356C95.2755 79.0126 92.7298 80.067 90.0754 80.067H10.0084C7.35399 80.067 4.80832 79.0126 2.93139 77.1356C1.05445 75.2587 0 72.713 0 70.0587V20.0168C0 17.3624 1.05445 14.8167 2.93139 12.9398C4.80832 11.0628 7.35399 10.0084 10.0084 10.0084H22.9492L31.4914 1.46623ZM37.1011 10.0084L28.5589 18.5505C27.6207 19.4891 26.348 20.0165 25.0209 20.0168H10.0084V70.0587H90.0754V20.0168H75.0628C73.7358 20.0165 72.4631 19.4891 71.5249 18.5505L62.9827 10.0084H37.1011ZM50.0419 32.5272C47.3875 32.5272 44.8418 33.5817 42.9649 35.4586C41.088 37.3356 40.0335 39.8812 40.0335 42.5356C40.0335 45.19 41.088 47.7357 42.9649 49.6126C44.8418 51.4895 47.3875 52.544 50.0419 52.544C52.6963 52.544 55.242 51.4895 57.1189 49.6126C58.9958 47.7357 60.0503 45.19 60.0503 42.5356C60.0503 39.8812 58.9958 37.3356 57.1189 35.4586C55.242 33.5817 52.6963 32.5272 50.0419 32.5272ZM30.0251 42.5356C30.0251 37.2268 32.134 32.1355 35.8879 28.3816C39.6418 24.6278 44.7331 22.5189 50.0419 22.5189C55.3507 22.5189 60.442 24.6278 64.1959 28.3816C67.9498 32.1355 70.0587 37.2268 70.0587 42.5356C70.0587 47.8444 67.9498 52.9357 64.1959 56.6896C60.442 60.4435 55.3507 62.5524 50.0419 62.5524C44.7331 62.5524 39.6418 60.4435 35.8879 56.6896C32.134 52.9357 30.0251 47.8444 30.0251 42.5356Z">
            </path>
        </svg>
    </a>

    <button class="barcode__control barcode__control--start cta">
        <span>Start met scannen</span>
        <svg class="icon icon--camera" viewBox="0 0 101 81" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M31.4914 1.46623C32.4296 0.527696 33.7022 0.000283424 35.0293 0H65.0545C66.3815 0.000283424 67.6542 0.527696 68.5924 1.46623L77.1346 10.0084H90.0754C92.7298 10.0084 95.2755 11.0628 97.1524 12.9398C99.0293 14.8167 100.084 17.3624 100.084 20.0168V70.0587C100.084 72.713 99.0293 75.2587 97.1524 77.1356C95.2755 79.0126 92.7298 80.067 90.0754 80.067H10.0084C7.35399 80.067 4.80832 79.0126 2.93139 77.1356C1.05445 75.2587 0 72.713 0 70.0587V20.0168C0 17.3624 1.05445 14.8167 2.93139 12.9398C4.80832 11.0628 7.35399 10.0084 10.0084 10.0084H22.9492L31.4914 1.46623ZM37.1011 10.0084L28.5589 18.5505C27.6207 19.4891 26.348 20.0165 25.0209 20.0168H10.0084V70.0587H90.0754V20.0168H75.0628C73.7358 20.0165 72.4631 19.4891 71.5249 18.5505L62.9827 10.0084H37.1011ZM50.0419 32.5272C47.3875 32.5272 44.8418 33.5817 42.9649 35.4586C41.088 37.3356 40.0335 39.8812 40.0335 42.5356C40.0335 45.19 41.088 47.7357 42.9649 49.6126C44.8418 51.4895 47.3875 52.544 50.0419 52.544C52.6963 52.544 55.242 51.4895 57.1189 49.6126C58.9958 47.7357 60.0503 45.19 60.0503 42.5356C60.0503 39.8812 58.9958 37.3356 57.1189 35.4586C55.242 33.5817 52.6963 32.5272 50.0419 32.5272ZM30.0251 42.5356C30.0251 37.2268 32.134 32.1355 35.8879 28.3816C39.6418 24.6278 44.7331 22.5189 50.0419 22.5189C55.3507 22.5189 60.442 24.6278 64.1959 28.3816C67.9498 32.1355 70.0587 37.2268 70.0587 42.5356C70.0587 47.8444 67.9498 52.9357 64.1959 56.6896C60.442 60.4435 55.3507 62.5524 50.0419 62.5524C44.7331 62.5524 39.6418 60.4435 35.8879 56.6896C32.134 52.9357 30.0251 47.8444 30.0251 42.5356Z">
            </path>
        </svg>
    </button>

    <a class="barcode__control barcode__control--pageclose cta cta--no-padding" href="/producten">
        <svg class="icon icon--cross" viewBox="0 0 91 91" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M1.90147 1.98266C3.11935 0.765153 4.77093 0.0811917 6.49301 0.0811917C8.21509 0.0811917 9.86667 0.765153 11.0845 1.98266L45.4594 36.3575L79.8343 1.98266C80.4333 1.36238 81.15 0.867625 81.9423 0.52726C82.7346 0.186895 83.5868 0.00773855 84.4492 0.000245209C85.3115 -0.00724813 86.1667 0.15707 86.9648 0.483614C87.7629 0.810158 88.4881 1.29239 89.0978 1.90216C89.7076 2.51194 90.1898 3.23705 90.5164 4.03519C90.8429 4.83333 91.0072 5.68851 90.9998 6.55083C90.9923 7.41315 90.8131 8.26535 90.4727 9.05769C90.1324 9.85003 89.6376 10.5667 89.0173 11.1657L54.6425 45.5406L89.0173 79.9154C90.2003 81.1403 90.8549 82.7808 90.8401 84.4836C90.8253 86.1864 90.1423 87.8153 88.9382 89.0194C87.7341 90.2235 86.1052 90.9065 84.4024 90.9213C82.6996 90.9361 81.0591 90.2815 79.8343 89.0985L45.4594 54.7237L11.0845 89.0985C9.85969 90.2815 8.21919 90.9361 6.51638 90.9213C4.81357 90.9065 3.1847 90.2235 1.98058 89.0194C0.776469 87.8153 0.093458 86.1864 0.0786611 84.4836C0.0638641 82.7808 0.718466 81.1403 1.90147 79.9154L36.2763 45.5406L1.90147 11.1657C0.683961 9.94786 0 8.29628 0 6.5742C0 4.85212 0.683961 3.20054 1.90147 1.98266Z" />
        </svg>
    </a>
</dialog>