<script>
    // Prevent service worker
    const enableWorker = true;
    if(enableWorker){
        // Check if serviceWorker is availible
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker
                .register('/service-worker.js')
                .then((registation) => {
                    return registation.update();
                });
            });
        }
    }
</script>
<script src="../<%= revManifest['dist/scripts/main.js'] %>"></script>
</body>
</html>