<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <title>Food Scanner | <%- title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="/dist/css/all.css" /> -->
    <link rel="stylesheet" href="../<%= revManifest['dist/css/all.css'] %>" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#00ff00" />

    <!-- <script src="/dist/scripts/main.js" defer></script> -->
    <link
      rel="shortcut icon"
      href="./assets/icon/icon-256x256.png"
      type="image/x-icon"
    />
  </head>

  <body>
    <noscript>
      <style>
        a[href='/barcode'] {
          display: none;
        }
      </style>
    </noscript>
  </body>
</html>
