<% if (count == 1) { %>
<p class="search__count">Totaal: <%- count %> product</p>
<% } else if (count == 0) { %>
<p class="search__count">Geen producten gevonden</p>
<% } else { %>
<p class="search__count">Totaal: <%- count %> producten</p>
<% } %>