<%- include('../partials/head', {title: "offline"}); %> <%-
include('../partials/header'); %>
<main>
  <h1 class="title title--h1">Page currently offline</h1>
</main>
<%- include('../partials/footer'); %>
